<div class="presentation-view">
  <div class="presentation-view__bar">
    <div class="presentation-view__bar-name">{{ pool.name }}</div>
    <div class="presentation-view__bar-action">
      <span (click)="remove()" title="aktivere">
        <mat-icon aria-hidden="false" aria-label="Activate" fontIcon="flip_camera_android"></mat-icon>
      </span>
      <a routerLink="/presentation/{{pool.id}}">
        <span title="redigere">
          <mat-icon aria-hidden="false" aria-label="Edit" fontIcon="mode_edit"></mat-icon>
        </span>
      </a>
      <span (click)="remove()" title="fjerne">
        <mat-icon aria-hidden="false" aria-label="Remove" fontIcon="delete_forever"></mat-icon>
      </span>
    </div>
  </div>
  <div class="presentation-view__media">
     <div>{{ pool.groupInfo}}</div>
     <div class="presentation-view__screen-info">{{ pool.screenInfo}}</div>
  </div>
</div>
