.detail-main {
    margin-left: 40px;
    margin-top: 20px;
}

.group-pc-list {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
}

.group-pc-item {
    margin: 0 20px 20px 0;
    background-color: aqua;
    color: yellow;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}