@if (pool) {
  <div class="detail-main">
    <mat-form-field appearance="fill">
      <mat-label>gruppenavn</mat-label>
      <input matInput placeholder="beskrivelse" [(ngModel)]="pool.name">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div>
  <div class="detail-own">
    <div class="detail-own__header">Tv pcer som inngår i denne gruppen (for å fjerne, klikk bare på dem)</div>
    <div class="group-pc-list">
      @for(pc of pool.tvpcIncluded; track pc.id) {
      <div class="group-pc-item _selected" (click)="removePc(pc.id)">{{ pc.name }}</div>
      } @empty {
      Ingen pc i denne gruppen
      }
    </div>
  </div>
  <h3 class="detail-free">Du kan legge til følgende tv pcer ved å klikke på dem</h3>
  <div class="group-pc-list">
    @for(pc of pool.tvpcExcluded; track pc.id) {
      <div class="group-pc-item" (click)="joinPc(pc.id)">{{ pc.name }}</div>
    } @empty {
      Ikke mer tilgjengelig tvpc
    }
  </div>
  <save-footer cancelRoute="/group" (save)="save()"></save-footer> 
} @else {
  <app-loader message="Side lasting"></app-loader>
}
