<div class="group-view">
  <div class="group-view__bar">
    <div class="group-view__bar-name">
      <div>
        {{ pool.name }}
      </div>
      <div>
        {{ pool.tvpcInfo }}
      </div>
    </div>
    <div class="group-view__bar-action">
      <a routerLink="/group/{{pool.id}}">
        <span title="redigere">
          <mat-icon aria-hidden="false" aria-label="Edit" fontIcon="mode_edit"></mat-icon>
        </span>
      </a>
      <span (click)="remove()" title="fjerne">
        <mat-icon aria-hidden="false" aria-label="Remove" fontIcon="delete_forever"></mat-icon>
      </span>
    </div>
  </div>
</div>
