<div class="app-whole">
     <div class="app-left">
      <app-button 
          message="Hjem"
          name="home"
          [active]="active"
          (select)="menuSelect($event)"
      ></app-button>
      <app-button 
          message="Presentasjoner"
          name="presentation"
          [active]="active"
          (select)="menuSelect($event)"
      ></app-button>
      <app-button 
          message="Skjermer"
          name="screens"
          [active]="active"
          (select)="menuSelect($event)"
      ></app-button>
      <app-button 
          message="Bilder"
          name="pictures"
          [active]="active"
          (select)="menuSelect($event)"
      ></app-button>
      <app-button 
          message="Videoer"
          name="videos"
          [active]="active"
          (select)="menuSelect($event)"
      ></app-button>
      <app-button 
          message="Grupper"
          name="group"
          [active]="active"
          (select)="menuSelect($event)"
      ></app-button>
      <app-button 
          message="TV pcer"
          name="tvpc"
          [active]="active"
          (select)="menuSelect($event)"
      ></app-button>
    </div>
     <div class="app-center">
         <router-outlet></router-outlet>
     </div>

</div>