@if (!pool) {
    <app-loader message="Skjerm side lasting"></app-loader>
} @else {
    <app-add-button message="Lag en ny skjerm" routing="/screen/new"></app-add-button>
    <div class="app-screen-table">
        @for (item of pool; track item.id) {
            <app-screen-view 
            [pool]="item"
            [root]="root"
            (refresh)="refresh()"
            ></app-screen-view>
        } @empty {
            <app-page-message [message]="['Ingen skjermer ennå','','Du kan legge til nye skjermer ved å klikke på plussikonet ovenfor.']"></app-page-message> 
        }
    </div>
}
