.screen-detail-tab {
    max-width: 1000px;
}
.screen-detail-fields {
    padding: 20px 100px;
}

.screen-detail-textarea {
    width: calc(100vw - 220px);
    height: 300px;
    max-width: 900px;
}

.screen-detail-preview {
    background-color: yellow;
    padding: 10px 20px;

    &__message {
        padding: 5px;
        color: blue;
    }
}

.screen-detail-input {
    padding: 5px 20px;
}

.screen-detail-padding {
    padding: 20px 20px 10px;
    display: flex;
    border: 1px solid #ccc;
    background-color: #00ffee;

    & mat-form-field {
        margin: 0px 20px 0px 10px;
    }
}