.screen-detail-tab {
    max-width: 1000px;
}
.screen-detail-fields {
    padding: 20px;
}

.screen-detail-textarea {
    width: calc(100vw - 220px);
    height: 300px;
    max-width: 900px;
}

.screen-detail-preview {
    background-color: #eee;
    width: 330px;
    height: 280px;
    border: 2px solid #999;
    border-radius: 8px;
    overflow: hidden;
    padding: 0;
    text-align: center;

    &__message {
        background-color: blue;
        color: white;
        font-size: 16px;
        border-radius: 8px 8px 0 0;
        display: flex;
        height: 30px;
        justify-content: center;
        align-items: center;
    }

    &__image {
        display: flex;
        height: 250px;
        justify-content: center;
        align-items: center;
    }
}

.screen-detail-input {
    padding: 5px 20px;
    display: flex;

    & mat-form-field {
        margin: 0 20px 15px 0;
    }
}

.screen-detail-padding {
    padding: 0;
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 8px;

    &__header {
        background-color: #24b4fb;
        color: white;
        border-radius: 8px 8px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        font-size: 14px;
    }

    &__content {
        display: grid;
        padding: 10px;
        grid-template-columns: 1fr 8fr;
        gap: 15px 20px; 

        mat-slider {
            width: 640px;
        }

        &-title {
            display: flex;
            align-items: center;
            height: 48px;
        }
        
    }
}

.add-button-outer {
    border: 2px solid #24b4fb;
    background-color: #24b4fb;
    border-radius: 9px;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
    margin: 0px 20px 0px 10px;
    width: 195px;
    height: 54px!important;
    max-height: 54px;
    overflow: hidden!important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: #0071e2;
    }
}

.add-button-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
}

.screen-detail-text {
    display: inline-block;
    color: #555555;
    font-size: 16px;
    padding: 0 10px;
}

.screen-detail-refresh {
    display: inline-block;
    padding: 7px 20px;
}

.screen-detail-simple {
    display: inline-flex;
    padding-right: 15px;
}

.screen-detail-line-text {
    display: inline-block;
    color: #555555;
    font-size: 16px;
    padding: 19px 10px 0 0;
}

.screen-detail-container {
    padding-bottom: 110px;
}

.big-input {
    min-width: 200px;
}

.screen-detail-whole {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    justify-content: space-between;
    justify-content: space-evenly;
}

.screen-detail-main {
    max-width: 830px;
}

.screen-detail-label-over-slider {
    font-size: 10px;
    padding: 3px;
}

.item-slider {
    width: 300px;
}

.picture-slider {
    width: 225px;
}

.preview-size {
    width: 320px;
    height: 240px;
}