@if (pool) {
  <div>
    <mat-form-field appearance="fill">
      <mat-label>{{ nameTitle }}</mat-label>
      <input matInput placeholder="beskrivelse" [(ngModel)]="pool.name">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div>
  <div>
    <app-file-uploader (update)="updateFile($event)" [kind]="kind" [message]="pool.file || ''"></app-file-uploader>
  </div>
  <save-footer [cancelRoute]="'/' + kind" (save)="save()"></save-footer> 
} @else {
  <app-loader message="Side lasting"></app-loader>
}
