<div class="task-view">
  <div class="task-view__bar">
    <div class="task-view__bar-info">
      <div class="task-view__bar-name"  (click)="openPc()">
        {{ pool.name }}
      </div>
      <div class="task-view__bar-url" (click)="openPc()">
        {{ pool.url }}
      </div>
      @if (pool.newPresentationId!==pool.oldPresentationId || pool.newPresentationVersion!==pool.oldPresentationVersion || pool.taskStatus!==1000) {
        <div class="task-view-upload">
          <div><span class="task-view-upload-title">Lastet opp:</span> {{ pool.oldPresentationName }} ({{ pool.oldPresentationVersion }})</div>
          <div><span class="task-view-upload-title">Nåværende:</span> {{ pool.newPresentationName }} ({{ pool.newPresentationVersion }})</div>
          <div><span class="task-view-upload-title">Framgang:</span> {{pool.taskStatus * 0.1 }} % </div>
        </div>
      } @else {
        <a routerLink="/presentation/{{ pool.newPresentationId }}">
          <div class="task-view-ready">
            {{ pool.newPresentationName }} ({{ pool.newPresentationVersion }})
          </div>
        </a>
      }
      @if (pool.connectionStatus===0) {
        <div class="task-view-good">
          God forbindelse
        </div>
      } @else if (pool.connectionStatus<0){
        <div class="task-view-unknown">
          Prøver å koble til
        </div>
      } @else {
        <div class="task-view-lost">
          Mistet tilkobling ({{ pool.connectionStatus }})
        </div>
      }
    </div>
    <div class="task-view__bar-action">
      <span (click)="remove()" title="fjerne">
        <mat-icon aria-hidden="false" aria-label="Remove" fontIcon="delete_forever"></mat-icon>
      </span>
    </div>
  </div>
</div>
